<nav id="about">
  <h2 class="non-display">About</h2>
	<ul>
		<li id="about"><a href="{{SITE_ROOT}}/about/">About</a></li>
		<li class="separator"></li>
		<li id="faq"><a href="{{SITE_ROOT}}/faq/">FAQ</a></li>
		<li class="separator"></li>
        <li id="usefullinks"><a href="{{SITE_ROOT}}/usefullinks/">Useful Links</a></li>
		<li class="separator"></li>
		<li id="contact"><a href="{{SITE_ROOT}}/contact/">Contact</a></li>
		<li class="separator"></li>
		<li id="terms"><a href="{{SITE_ROOT}}/terms/">Terms</a></li>
		<li class="separator"></li>
        <li id="feeds"><a href="{{SITE_ROOT}}/feeds/">RSS Feeds</a></li>
        {% if perms.opendata.change_resource %}
		<li class="separator"></li>
        <li id="admin"><a href="{{SITE_ROOT}}/_admin_">Administration</a></li>
        {% endif %}
	</ul>
</nav>