<div id="left_container">


<nav id="tags">
	<h2 class="grid">Browse the Data</h2>
		<ul class="menu-pad">
            <li><a href="{{SITE_ROOT}}/opendata/?sort=name&dir=asc">All Data</a></li>
			<li id="tag_list"></li>
			<li class="separator"></li>
			<li class="icon-xsm" id="ideas"><a href="{{SITE_ROOT}}/ideas">Idea Gallery</a></li>
		    <li class="icon-xsm" id="add"><a href="{{SITE_ROOT}}/opendata/submit/">Submit Data</a></li>
			<li class="icon-xsm" id="nominate"><a href="{{SITE_ROOT}}/opendata/nominate/?sort=rating_score&dir=desc">Nominate Data</a></li>
		</ul>
	</nav>

	

</div>
